[submodule "vim/vim/bundle/tlib_vim"]
	path = vim/vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "vim/vim/bundle/vim-snippets"]
	path = vim/vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/vim/bundle/vim-addon-mw-utils"]
	path = vim/vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "vim/vim/bundle/vim-snipmate"]
	path = vim/vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/vim/bundle/command-t.git"]
	path = vim/vim/bundle/command-t.git
	url = git://git.wincent.com/command-t.git
[submodule "vim/vim/bundle/vim-pathogen"]
	path = vim/vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/vim/bundle/vim-clojure-static"]
	path = vim/vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
